.events {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.event{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.thumbnails {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.thumbnail {
  max-width: 150px;
  margin: 5px;
  cursor: pointer;
}

.modal-content {
  width: 100%;
  height: auto;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}
